<form class="form">
    <div class="form__fields-container">
        {{#each fields}}
            {{> Input labelText=labelText type=type name=name}}
        {{/each}}
    </div>

    <div class="form__btns">
        {{> Button label=submitTitle type="button" navigateTo="chats"}}
        <a class="link form__link" href="#" navigateTo={{navigateTo}}>{{linkTitle}}</a>
    </div>
</form>
