<form class="form">
    <div class="form__fields-container">
        {{#each config.fields}}
            {{{ Input labelText=labelText type=type name=name}}}
        {{/each}}
    </div>

    <div class="form__btns">
        {{{ Button label=config.submitTitle type="button" navigateTo="chats"}}}
        <a class="link form__link" href="#" navigateTo={{config.navigateTo}}>{{config.linkTitle}}</a>
    </div>
</form>
