$accent-color: #EE1A8B ;
$error-color: #FF3030;
$dark-green: #082127;
$dark-blue: #061F43;
$blue: #08458C;
$light-green: #67C0A7;
$light-blue: #2D81AC;
$black: #01010B;
$grey: #999999;
$form-background-color: rgba(1, 1, 11, .9);
$gradient: linear-gradient($dark-green, $blue);

.link {
    text-decoration: none;
}

.avatar {
    border-radius: 100px;
    width: 47px;
    height: 47px;
}

.btn {
    cursor: pointer;
}