$accent-color: #EE1A8B ;
$error-color: #FF3030;
$dark-green: #082127;
$dark-blue: #061F43;
$blue: #08458C;
$light-green: #67C0A7;
$light-blue: #2D81AC;
$black: #01010B;
$form-background-color: rgba(1, 1, 11, .9);