<form class="setting-form">
    <div class="setting-form__fields-container">
        {{#each config.fields}}
            {{{ SettingInput disabled=disabled labelText=labelText type=type name=name value=value}}}
        {{/each}}
    </div>

    {{#if config.submitTitle}}
        <span class="setting-form__btns">
            {{{ Button label=config.submitTitle type="button" navigateTo="chats"}}}
        </span>
    {{/if}}
</form>
